@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:opsz,wght@9..40,200&display=swap');

html, body{
    font-family: 'DM Sans', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    }

    header{
    background: linear-gradient(to bottom, 
    #222047, #615989);
    padding: 50px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Abril Fatface', cursive;
    box-shadow: 10px 10px #988C5B;
    position: relative;
    }

    h1{
    font-weight: lighter;
    font-size: 130px;
    color: #f6f6f6;
    text-shadow: 4px 4px #988C5B;
    }

    .icon {
    border-radius: 174px;
    width: 300px;
    border: 7px solid #f6f6f6;
    }
    
    .emp {
    opacity: 0.06;
    width: 600px;
    position: absolute;
    }

    .box {
    background-color: #615989;
    padding: 50px;
    border-radius: 15px;
    color: #f6f6f6;
    box-shadow: 7px 7px #988C5B;
    }

    .box1 {
    background-color: #615989;
    padding: 20px;
    border-radius: 15px;
    color: #f6f6f6;
    box-shadow: 7px 7px #988C5B;
    }

    .font {
    font-family: 'Abril Fatface', cursive;
    font-weight: lighter;
    color: #282157;
    text-shadow: 2px 2px #aa56496f;
    text-decoration: none;
    }

    a {
    text-decoration: none;
    }

    .content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 25px;
    }

    img.big-image{
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 7px 7px #988C5B;
    }

    p.caption{
    font-size: 16px;
    color: lightgrey;
    font-style: italic;
    }

    ul{
    list-style: none;
    padding: 0;
    margin: 0;
    }

    .comp {
    max-width: 900px;
    background: linear-gradient(to bottom, 
    #615989, #605699);
    margin: auto;
    overflow: auto;
    justify-content: space-between;
    display: flex;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 7px 7px #988C5B;
    }

    .comp img {
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 2px;
    border-radius: 150px;
    border: 3px solid #f6f6f6;
    background-color: #f6f6f6;
    overflow: auto;
    justify-content: space-between;
    display: flex;
    box-shadow: 4px 4px #988C5B;
    }

    .char-icon{
    color: #f6f6f6;
    text-decoration: none;
    }
    
    footer{
    padding: 25px 20px;
    background-color: #cdc2ff;
    border-radius: 15px;
    margin: 40px auto;
    bottom: 0;
    }

    footer ul{
    text-align: center;
    color: #ffffff;
    }

    footer ul li{
    display: inline-block;
    margin: 0 5px;
    font-size: 17px;
    }

    .red {
    color:red;
    text-decoration: none;
    }

   


    